@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* https://fonts.google.com/specimen/IM+Fell+Great+Primer+SC#standard-styles */ 
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
/* https://fonts.google.com/specimen/Poppins */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

textarea {
	display: block;
}

body {
	background-image:  url("/rsvp/static/rsvp_background.png");
	background-size: cover;
	min-height:  100vh;
	max-height: 100%;
}

.title {
	font-family: 'IM Fell Great Primer SC', serif;
}

.content, .subtitle {
    font-family: 'Poppins', sans-serif;
}

.content em {
	color:  #777;
}

/* Could get rid of this by building bulma from sass and changing the column max-width property */
.emily-width {
	max-width: 500px;
}

.emily-color {
	color:  #ACACAC;
}

.emily-back-button {
	background-color:  #f2f2f1;
}

/* https://gist.github.com/jipiboily/cfd8494fe174eb2a7f6202220196492a */
.radio-buttons-as-buttons input {
    display: none;
}

.box {
	padding:  2.5rem;
}

.is-primary {
	background-color: #D1C080 !important;
	color:  #363222 !important;
}

.is-primary:focus:not(active) {
	box-shadow:  0 0 0 .125em rgba(128, 101, 39, 0.48) !important;
}